<!DOCTYPE html>
<html>
    <head>
<style>


    .card-box:hover {

        transform: scale(1.05);
    }

    .card-text{
        color:rgb(241, 250, 238);font-family: Josefin sans,sans-serif;font-weight: 400;font-size: 1.25em;
    }
</style>

        <meta charset="UTF-8"/>
        <title>{% block title %}Youssef Mimouni{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;1,100&family=Yeseva+One&display=swap" rel="stylesheet">        <link rel="stylesheet" href="{{ asset('front/css/bootstrap.min.css') }}" type="text/css">
            <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Yeseva+One&display=swap" rel="stylesheet">

        <!--Material Icon -->
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/materialdesignicons.min.css') }}"/>

        <link href="{{ asset('back/assets/css/icons.min.css') }}" rel="stylesheet" type="text/css"/>

        <!--pe-7 Icon -->
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/pe-icon-7-stroke.css') }}"/>

        <!-- Magnific-popup -->
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/magnific-popup.css') }}">

        <!-- Custom  sCss -->
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style.css') }}"/>
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('front/images/favicon.ico') }}">
    </head>
    <body>
    {% block navbar %}

    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark">
        <div class="container-fluid" style="padding-left:0;padding-right: 0;margin-left: 80px">
            <!-- LOGO -->
            <a class="logo text-uppercase" href="">
                <img src="{{ asset('front/images/logo-light.png') }}" alt="" class="logo-light" height="90" width="95"/>
                <img src="{{ asset('front/images/logo-light.png') }}" alt="" class="logo-dark" height="50" width="55"/>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
                    <li class="nav-item active" style="padding-left: 880px" >
                        <a href="#home" class="nav-link" style="padding-left: 50px">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#services" class="nav-link">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ asset('CV_Mimouni_Youssef.pdf') }}" target="_blank" class="nav-link">Resume</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('front/js/jquery.min.js') }}"></script>
        <script src="{{ asset('front/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('front/js/jquery.easing.min.js') }}"></script>
        <script src="{{ asset('front/js/scrollspy.min.js') }}"></script>

        <!-- Magnific Popup -->
        <script src="{{ asset('front/js/jquery.magnific-popup.min.js') }}"></script>

        <!-- counter js -->


        <!-- custom js -->
        <script src="{{ asset('front/js/app.js') }}"></script>
    {% endblock %}
    </body>
</html>
